/* .main-content{
    display: flex;
    position: absolute;
    top: 60px;
} */

body{
    margin: 0px;
}

.layout{
    display: flex;
    margin-top: 60px;
}

.layout-left{
    width: 75%;
    /* width: calc(100% - 200px); */
}

@media (max-width: 800px){
    .layout-left{
        width: 100%;
        margin-right: 220px;
    }
}

.nav-button{
    display: none;
    overflow: hidden;
}

polyline{
    fill:none;
    stroke:#61dafb;
    stroke-width: 2.5;
    transition: transform 0.5s;
}


#poly1.active{
    transform: translateY(-12px);
}

#poly2.active{
    transform: translateY(12px);    
}


@media (max-width: 600px){
    .layout-right{
        display: none;
        overflow: hidden;
    }

    .layout-right.nav-bar-active{
        width: 100%;
        display: flex;   
    }

    .layout-left{
        margin-right: 0px;
    }

    .nav-button{
        position: fixed;
        display: block;
        
        width: 60px;
        height: 60px;
        bottom: 45px;
        right: 20px;
        border-style: solid;
        border-color: grey;
        border-width: 1px;
        border-radius: 50%;
        background-color: #17202A;
        box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    }
}



.layout-right{
    min-width: 220px;
    width: 25%;
    /* background-color: #EBEDEF; */
    background-color: #F7F7F7;
    height: auto;
    position: fixed;
    top: 60px;
    right: 0px;
    bottom: 0px;

    border-left: 1px solid #ececec;
    /* overflow: scroll; */
}